* {
  margin: 0;
  box-sizing: border-box;
}

header {
  padding: 20px;
}

header h1 {
  margin: 10px;
}

.App {
  text-align: center;
  background-color: rgb(25, 129, 94);
  height: 100vh;
}

.App h1 {
  align-items: center;
  justify-content: center;
  color: white;
}

.App a {
  display: inline-block;
  margin: 0px 10px;
  font: 400;
  font-size: x-small;
  text-decoration: none;
}
.App a:hover {
  text-decoration: none;
}
